body{
  background-image:url("../src/back.jpg");
  background-repeat: ;
}
.info{
  border: 1px solid  #666 ; 
  padding: 50px 150px 50px 150px ;
  margin: 50px 150px 50px 150px ;
  font-family: 'Times New Roman', Times, serif;
  background-color:burlywood ;
  border-radius: 30px;

}
.profile{
  text-align: center;
}
img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  object-fit: cover;
  object-position: center right;
}
.btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: lightblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 400px;
  
}

.btn:hover {background-color:bisque}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}